@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Carter+One&display=swap');
/* 
font-family: 'Archivo', sans-serif;
font-family: 'Carter One', cursive;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

:root {
    --color-black-fundo: #090909;
    --color-red-blue: #466FFF;
    --color-red-green: #86FA5E;
    --color-red-yellow: #DDEB3F;
    --color-red-red-btn: #F03636;
}

body {
    color: #fff;
    background: #090909;
    background-repeat: no-repeat;
    height: 100%;
}

.divh3 h3{
    text-align: center;
    font-family: 'Carter One', cursive;
    font-size: 50px;
    margin-top: 40px;
    font-weight: 400;
}

.text{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 340px;
}
.text input{
    Width: 340px;
    height: 43px;
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 48px;
    border-radius: 4px;
    border: 3px solid var(--color-red-blue);
    color: var(--color-red-blue);
    background-color: transparent;
    outline: none;
    font-size: 20px;
}
.text input::placeholder{
    color: #d9d9d9 ;
}
.divBtnFlex{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.text button{
    padding: 10px;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 8px;
    margin-bottom: 23px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;
}
.text button:hover{
    filter: saturate(150%);
}
.text #btnAdd{
    background-color: var(--color-red-green);
}
.text #btnOrdenar{
    background-color: var(--color-red-yellow);
}
.text #btnExcluir{
    background-color: var(--color-red-red-btn);
}
.text #textA{
    color: #535353;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    transition: .3s;
    margin-bottom: 35px;
}
.text #textA:hover{
    color: #686868;
}

p{
    text-align: center;
    font-size: 17px;
    padding: 3px;
}
.p1{
    margin-top: 80px;
}
p a{
    color: var(--color-red-yellow);
    text-decoration: none;
    transition: .2s;
}
p a:hover{
    color: #fff;
}

#divLast{
    position: relative;
    bottom: 20px;
    font-size: 17px;
    font-weight: 400;
}






/* class js */
.capitalized{
    text-transform: capitalize;
    padding-inline: 15px;
    padding-bottom: 15px;
    line-height: 23px;
    list-style-position: inside;
    cursor: pointer;
}
.itemFeito{
    color: #F03636;
    opacity: 80%;
}

@media (max-width: 380px){
    .text input{
        width: 90%;
        margin: 32px auto;
    }
}

@media (min-height:730px){
    .p2{
        margin-bottom: 200px;
    }
}